<p id="notice"><%= notice %></p>

<p>
  <strong>Created at:</strong>
  <%= @transaction.created_at %>
</p>

<p>
  <strong>Account from:</strong>
  <%= @transaction.account_from_id %>
</p>

<p>
  <strong>Account to:</strong>
  <%= @transaction.account_to_id %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @transaction.cash %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
